<br>
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Nombre</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Direccion</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Telefono</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-4">
        <label class="form-label">Tamaño</label>
        <select class="form-select">
          <option ></option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Num. pizza</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Fecha</label>
        <input type="date" class="form-control">
    </div>
    <div class="col-md-4"><br>
        <label><input type="checkbox" id="cbox1" value=""> Jamon $10</label><br>
        <label><input type="checkbox" id="cbox2" value=""> Piña $10</label><br>
        <label><input type="checkbox" id="cbox3" value="">Champiñones $10</label><br>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Agregar</button>
    </div>
    <div class="row mt-4">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Tamaño</th>
                <th scope="col">Ingredientes</th>
                <th scope="col">Num. Pizza</th>
                <th scope="col">Sub total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </form>